#waveform {
  width: 85vw;
  background-color: #d9d9d9;
  padding: 70px 0px;
  border-radius: 20px;
}

.controls {
  /* margin: auto; */
  color: white;
  display: flex;
  justify-content: center;
}

#waveform-timeline {
  margin-top: 5px;
}
